<div class="container">
    <div class="bg-success p-5 mb-3 text-white">
        <h3>ID: {{ customer.id }}</h3>
        <h3>Code: {{ customer.code }}</h3>
        <h3>First Name: {{ customer.firstName }}</h3>
        <h3>Last Name: {{ customer.lastName }}</h3>
        <h3>Email: {{ customer.email }}</h3>
        <h3>Phone: {{ customer.phone }}</h3>
    </div>
    <a [routerLink]="['/customers', 'address', customer.id, 'create']" class="btn btn-primary">New Address</a>
    <div class="table-responsive">
        <table class="table table-primary">
            <thead>
                <tr> 
                    <th scope="col">Address Line 1</th>
                    <th scope="col">Address Line 2</th>
                    <th scope="col">City </th>
                    <th scope="col">State</th>
                    <th scope="col">Postal Code</th>
                    <th scope="col">Country</th>
                    <th scope="col">Address</th>
                </tr>
            </thead>
            <tbody>
                <tr class="" *ngFor="let item of addresses">
                    <td>{{ item.addressLine_1 }}</td>
                    <td>{{ item.addressLine_2 }}</td>
                    <td>{{ item.city }}</td>
                    <td>{{ item.state }}</td>
                    <td>{{ item.postalCode }}</td>
                    <td>{{ item.country }}</td>
                    <td>
                        <p *ngIf="item.shippingAddressFlag">Shipping Address</p>
                        <p *ngIf="!item.shippingAddressFlag">Billing Address</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <router-outlet></router-outlet>
</div>
