<div class="container">
    <div class="bg-success p-5 mb-3 text-white">
        <h3>ID: {{ customer.id }}</h3>
        <h3>Code: {{ customer.code }}</h3>
        <h3>First Name: {{ customer.firstName }}</h3>
        <h3>Last Name: {{ customer.lastName }}</h3>
        <h3>Email: {{ customer.email }}</h3>
        <h3>Phone: {{ customer.phone }}</h3>
    </div>
    <a [routerLink]="['/customers', 'create']" class="btn btn-primary">New Address</a>
    <div class="table-responsive">
        <table class="table table-primary">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Code</th>
                    <th scope="col">First Name </th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone </th>
                    <th scope="col">Address</th>
                </tr>
            </thead>
            <tbody>
                <tr class="" *ngFor="let item of customer.addresses">
                    <td>{{ item.addressLine_1 }}</td>
                    <td>{{ item.addressLine_2 }}</td>
                    <td>{{ item.city }}</td>
                    <td>{{ item.state }}</td>
                    <td>{{ item.postalCode }}</td>
                    <td>
                        <p *ngIf="item.shippingAddressFlag">Shipping Address</p>
                        <p *ngIf="!item.shippingAddressFlag">Billing Address</p>
                    </td>
                    <td>
                        <a [routerLink]="['/customers', 'address', item.id]" class="btn btn-success me-2">Address</a>
                        <a [routerLink]="['/customers', 'update', item.id]" class="btn btn-info">Update</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <router-outlet></router-outlet>
</div>
