<div class="container">
    <a [routerLink]="['/products', 'create']" class="btn btn-primary">New Product</a>
    <div class="table-responsive">
        <table class="table table-primary">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description </th>
                    <th scope="col">Price</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr class="" *ngFor="let item of products">
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.description }}</td>
                    <td>{{ item.price }}</td>
                    <td>
                        <!-- <a [routerLink]="['/products', 'details', item.id]" class="btn btn-primary">Details</a> -->
                        <a [routerLink]="['/products', 'update', item.id]" class="btn btn-info">Update</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <router-outlet></router-outlet>
</div>
