<div class="container">
    <form [formGroup]="form" (ngSubmit)="save()">
        <div class="mb-3">
            <label for="addressLine_1" class="form-label">Address Line 1</label>
            <input type="text" class="form-control" id="addressLine_1" formControlName="addressLine_1">
        </div>
        <div class="mb-3">
            <label for="addressLine_2" class="form-label">Address Line 2</label>
            <input type="text" class="form-control" id="addressLine_2" formControlName="addressLine_2">
        </div>
        <div class="mb-3">
            <label for="city" class="form-label">City</label>
            <input type="text" class="form-control" id="city" formControlName="city">
        </div>
        <div class="mb-3"> 
            <label for="state" class="form-label">State</label>
            <input type="email" class="form-control" id="state" formControlName="state">
        </div>
        <div class="mb-3">
            <label for="postalCode" class="form-label">Postal Code</label>
            <input type="text" class="form-control" id="postalCode" formControlName="postalCode">
        </div>
        <div class="mb-3">
            <label for="country" class="form-label">Country</label>
            <input type="text" class="form-control" id="postalCode" formControlName="country">
        </div>
        <div>
            <input type="radio" id="billingAddressFlag" value="billing" checked formControlName="addressType">
            <label for="billingAddressFlag">Billing Address</label>
          </div>
          <div>
              <input type="radio" id="shippingAddressFlag" value="shipping" formControlName="addressType">
              <label for="shippingAddressFlag">Shipping Address</label>
          </div>
        <button [disabled]="!form.valid" type="submit" class="btn btn-primary">Save</button>
    </form>
</div>

<div>
    {{ form.value | json }}
</div>