<div class="container">
    <a [routerLink]="['/orders', 'create']" class="btn btn-primary">New Order</a>
    <div class="table-responsive">
        <table class="table table-primary">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Status</th>
                    <th scope="col">Date</th>
                    <th scope="col">Tax</th>
                    <th scope="col">SubTotal</th>
                    <th scope="col">Total </th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr class="" *ngFor="let item of orders">
                    <td>{{ item.id }}</td>
                    <td>{{ item.status }}</td>
                    <td>{{ item.date }}</td>
                    <td>{{ item.tax }}</td>
                    <td>{{ item.subTotal }}</td>
                    <td>{{ item.grandTotal }}</td>
                    <td>
                        <a *ngIf="item.status == 'Active'" [routerLink]="['/products']" class="btn btn-success me-2">Add Product</a>
                        <button *ngIf="item.status == 'Active'" (click)="canserOrder(item.id)" class="btn btn-primary">Cancel Order</button>
                    </td>
                </tr>
            </tbody>
        </table> 
    </div>
    <router-outlet></router-outlet>
</div>
