

<div class="container">
<form [formGroup]="form" (ngSubmit)="save()">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input required type="text" class="form-control" id="name" formControlName="name">
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input type="number" class="form-control" id="price" formControlName="price">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input type="text" class="form-control" id="description" formControlName="description">
        </div>
        <button [disabled]="!form.valid" type="submit" class="btn btn-primary">Save</button>
</form>
</div> 
<!-- <div>
    {{ form.value | json }}
</div> -->

